<div class="container">
    <div class="card">
        <div class="card-head">
            <h3>Usuarios</h3>
            
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Identificación</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Género</th>
                        <th>Estudio</th>
                        <th>Usuario</th>
                        <th>Constraseña</th>
                        <th>ID Tipo Rol</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Fin</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr  class="text-center">
                        <td> <input type="text" name="USR_IDENTIFICACION" [(ngModel)]="usuario.USR_IDENTIFICACION" class="left-align-input"  disabled> </td>
                        <td> <input type="text" name="USU_NOMBRE" [(ngModel)]="usuario.USU_NOMBRE" class="left-align-input"></td>
                        <td> <input type="text" name="USU_APELLIDO" [(ngModel)]="usuario.USU_APELLIDO" class="left-align-input"></td>
                        <td> <input type="text" name="USU_GENERO" [(ngModel)]="usuario.USU_GENERO" class="left-align-input"></td>
                        <td> <input type="text" name="USU_ESTUDIO" [(ngModel)]="usuario.USU_ESTUDIO" class="left-align-input"></td>
                        
                        <td> <input type="text" name="UserName" [(ngModel)]="usuario.UserName" class="left-align-input"></td>
                        <td> <input type="text" name="USR_Contrasenia" [(ngModel)]="usuario.USR_Contrasenia" class="left-align-input"></td>
                        <td> <input type="text" name="ROL_ID" [(ngModel)]="usuario.ROL_ID" class="left-align-input"></td>
                        <td><input type="text" name="UR_FECHAINICIO" [(ngModel)]="usuario.UR_FECHAINICIO" class="left-align-input"></td>
                        <td><input type="text" name="UR_FECHAFIN" [(ngModel)]="usuario.UR_FECHAFIN" class="left-align-input"></td>
                        <td>
                          <button class="btn btn-warning" (click)=" updateUsuario() ">Guardar</button>
                          
                        </td>
                      </tr>
                      
                </tbody>
            </table>
        </div>
    </div>
</div>
