<div class="wrapper">  
    <div class="content">      
       
       <div id="cabecera" class="cabecera-con-imagen">
            <div class="imagen-con-texto">
            <img src="assets/Escudo_Unicauca2.png" alt="Icono" class="icono-izquierda">
            <div class="texto-con-linea">
                    <div class="linea-vertical">
                        <span>
                            Universidad del Cauca
                        </span>
                    </div>
                    <span>Editar docente</span>
            </div>
            </div>
        </div>

        <nav class="menu-navegacion">
            <ul>
                <li><a (click)= "IrInicio()">Inicio <i class='bx bx-home' ></i></a></li>
                <li><a (click)= "IrGestionDocente()">Gestión Docente <i class='bx bx-user'></i></a></li>
                <li><a (click)= "IrGestionLabor()">Gestión labor docente <i class='bx bx-book-open'></i></a></li>
                <li><a (click)= "IrGestionEvaluacion()">Gestión evaluación <i class='bx bx-plus-circle' ></i></a></li>
                <li><a (click)= "IrEvaluacion()">Evaluación <i class='bx bx-user-check' ></i></a></li>
                <li><a (click)= "IrPeriodo()">Periodo Académico <i class="bx bx-calendar-check"></i></a></li>
            </ul>
        </nav>
        <div class="titulo"> 
            <h3>Usuarios</h3>
            <button class="btn btn-warning" (click)=" updateUsuario() ">Guardar</button>
        </div>  

        <div id="miModal" class="modal" [ngStyle]="{'display': mostrar ? 'block' : 'none'}">
            <div class="modal-contenido">
              <span class="cerrar" (click)="cerrarModal()">&times;</span>
              <h2>Usuario actualizado <i class='bx bx-user'></i></h2>
              <p>El usuario se ha podido actualizar con éxito</p>
            </div>
          </div>


        <div class="container-main">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div class="vertical-columnIzquierda">
                            <label for="USR_IDENTIFICACION">Identificación</label>
                            <input type="text" name="USR_IDENTIFICACION" [(ngModel)]="usuario.USR_IDENTIFICACION" class="left-align-input"  disabled> 

                            
                            <label for="USU_NOMBRE">Usuario</label>
                            <input type="text" name="USU_NOMBRE" [(ngModel)]="usuario.USU_NOMBRE" class="left-align-input">

                            <label for="USU_APELLIDO">Apellidos</label>
                            <input type="text" name="USU_APELLIDO" [(ngModel)]="usuario.USU_APELLIDO" class="left-align-input">
                            
                            <label for="USU_GENERO">Género</label>
                            <input type="text" name="USU_GENERO" [(ngModel)]="usuario.USU_GENERO" class="left-align-input">

                            <label for="USU_ESTUDIO">Estudio</label>
                            <input type="text" name="USU_ESTUDIO" [(ngModel)]="usuario.USU_ESTUDIO" class="left-align-input">
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="vertical-columnDerecha">
                            <label for="UserName">Usuario</label>
                            <input type="text" name="UserName" [(ngModel)]="usuario.UserName" class="left-align-input">

                            <label for="ROL_ID">Tipo de Rol</label> 
                            <select [(ngModel)]="seleccionRolId" (change)="seleccionarTipoLabor()">
                              <option [ngValue]="1" [selected]="usuario.ROL_ID === 1">Decano</option>
                              <option [ngValue]="2" [selected]="usuario.ROL_ID === 2">Coordinador</option>
                              <option [ngValue]="3" [selected]="usuario.ROL_ID === 3">Planta</option>
                              <option [ngValue]="4" [selected]="usuario.ROL_ID === 4">Tiempo Completo</option>
                              <option [ngValue]="5" [selected]="usuario.ROL_ID === 5">Catedra</option>
                            </select>
  
                            <label for="UR_FECHAINICIO">Fecha de inicio</label>
                            <input type="text" name="UR_FECHAINICIO" [ngModel]="formatFecha(usuario.UR_FECHAINICIO)" class="left-align-input">
                            
                            <label for="UR_FECHAFIN">Fecha de fin</label>
                            <input type="text" name="UR_FECHAFIN" [ngModel]="formatFecha(usuario.UR_FECHAFIN)" class="left-align-input">
                            

                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
    <div id="footer" class="footer-con-imagen">
        <div class="imagen-con-textoF">
            <div class="texto-con-lineaF">
            <div class="linea-verticalF">
                <span>
                © 2023 Universidad del Cauca, Inc.
                </span>
            </div>
            <span>Terms Privacy Security</span>
            </div>
        </div>
    </div>
</div> 
        
    