*{
    font-family: 'Arial', sons-serif;
}
h3{
    margin: 30px;

}
#cabecera {
    display: flex;
    align-items: center;
    background: linear-gradient(to right,#0D4185,#770000);
}
.imagen-con-texto {
    display: flex;
    align-items: center;
  }
  
.icono-izquierda {
  width: 100px; /* Ancho deseado */
  height: auto; /* La altura se ajusta automáticamente */
  margin: 10px;
}
.texto-con-linea {
    display: flex;
    align-items: center;
  }
.texto-con-linea{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 25px; /* Tamaño de fuente deseado */
    color: aliceblue;
    margin-left: 20px;
    
}
.texto-con-linea span{
    padding-left: 15px;
    
}
.linea-vertical {
    border-right: 2px solid rgb(255, 255, 255);
    padding-right: 15px; /* Añade espacio entre la línea y el texto */
    margin-right: 15px; 

}
.texto-con-linea span {
    margin-right: 10px; /* Ajusta el espacio entre el texto y la línea vertical */
}
  
.cabecera-con-imagen {
    padding-left: 10px;
}

/*Navegación*/

.menu-navegacion {
    background: #f9f9f9;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 60px; 
    border-bottom: 1px solid rgba(39, 35, 35, 0.212);
    
  }
  
  .menu-navegacion ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    height: 100%; /* Ajusta la altura para centrar verticalmente */
    
  }
  .menu-navegacion a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-right: 1px solid rgba(39, 35, 35, 0.212);
  }
  .menu-navegacion ul li a {
    cursor: pointer; /* Cambia el cursor a un puntero */
  }
  .menu-navegacion a:hover {
    background: #ddd;
  }
.container{
    margin-top: 30px;
}
.card{
    margin: 20px;
}
.table td {
    text-align: left;
    
}
input[type="text"] {
    border: 1px solid #686565;
    border-radius: 5px ;
}
.container select {
    text-align: left;
    margin: 10px;
    margin-left: -22px;
    border: 1px solid #686565;
    border-radius: 10px;
    height: 30px;
}
.btn.btn-warning{
    border-color: aliceblue;
}
.btn.btn-warning:hover{
    background-color: #686565;
    color: #ddd;
}

/*Footer*/
#footer {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding: 10px;
  background: #0D4185;
  height: 50px;
}
.imagen-con-textoF{
  display: flex;
  align-items: center;
}
.texto-con-lineaF{
  display: flex;
  align-items: center;
}
.texto-con-lineaF{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 14px; /* Tamaño de fuente deseado */
  color: aliceblue;
  margin-left: 20px;
  
}
.texto-con-lineaF span{
  padding-left: 15px;
  margin-right: 10px; /* Ajusta el espacio entre el texto y la línea vertical */
  
}
.linea-verticalF {
  border-right: 2px solid rgb(255, 255, 255);
  padding-right: 15px; /* Añade espacio entre la línea y el texto */
  margin-right: 15px; 

}
.footer-con-imagen {
  padding-left: 10px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/**/
@media screen and (max-width: 768px) {
  .cabecera-con-imagen {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .icono-izquierda {
    width: 50px; /* Ancho deseado */
    height: auto; /* La altura se ajusta automáticamente */
    margin: 10px;
  }
  .imagen-con-texto {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    
  }
  .texto-con-linea {
    margin-left: 0;
  }

  .menu-navegacion {
    height: auto;
  }

  .menu-navegacion ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-navegacion a {
    display: block;
    padding: 10px 15px;
    border-right: none;
    border-bottom: 1px solid rgba(39, 35, 35, 0.212);
  }

  .titulo {
    flex-direction: column;
    align-items: flex-start;
  }
}