*{
    font-family: 'Arial', sons-serif;
}
.btn-info{
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background-color: #0D4185;
    border-color: black;
}
#cabecera {
    height: 105px;
    background: linear-gradient(to right,#0D4185,#770000);
}