<div id="cabecera" class="cabecera-con-imagen">
	<div class="imagen-con-texto">
	  <img src="assets/Escudo_Unicauca2.png" alt="Icono" class="icono-izquierda">
	  <div class="texto-con-linea">
			<div class="linea-vertical">
				<span>
					Universidad del Cauca
				</span>
			</div>
			<span>Gestión usuario</span>
	  </div>
	</div>
  </div>

<div class="container-button">
    <button (click)= "nuevo()" class="btn btn-info" style ="margin-left: 10px;">Nuevo</button>
</div>
<hr>
<router-outlet></router-outlet>