*{
    font-family: 'Arial', sons-serif;
}
.btn-info{
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(35, 35, 163);
    border-color: black;
}
#cabecera {
    height: 105px;
    background: #0D4185;
}