<div class="wrapper">  
	<div class="content">   		
		
		<div id="cabecera" class="cabecera-con-imagen">
			<div class="imagen-con-texto">
			<img src="assets/Escudo_Unicauca2.png" alt="Icono" class="icono-izquierda">
			<div class="texto-con-linea">
					<div >
						<span>
							Universidad del Cauca
						</span>
					</div>
					
			</div>
			</div>
		</div>


		<nav class="menu-navegacion">
			<ul>
			<li><a (click)= "IrGestionDocente()">Gestión Docente <i class='bx bx-user'></i></a></li>
			<li><a (click)= "IrGestionLabor()">Gestión Labor Docente <i class='bx bx-book-open'></i></a></li>
			<li><a (click)= "IrEvaluacion(usuario.USR_IDENTIFICACION)">Evaluación <i class='bx bx-user-check' ></i></a></li>
			<li><a (click)= "IrGestionEvaluacion()">Gestion Evaluación <i class='bx bx-user-check' ></i></a></li>
			</ul>
		</nav>


	</div> 
	<div id="footer" class="footer-con-imagen">
	  <div class="imagen-con-textoF">
		<div class="texto-con-lineaF">
		  <div class="linea-verticalF">
			<span>
			  © 2023 Universidad del Cauca, Inc.
			</span>
		  </div>
		  <span>Terms Privacy Security</span>
		</div>
	  </div>
	</div>
  </div> 
