<div class="wrapper">  
	<div class="content">   		
		
		<div id="cabecera" class="cabecera-con-imagen">
            <div class="imagen-con-texto">
              <img src="assets/Escudo_Unicauca2.png" alt="Icono" class="icono-izquierda">
              <div class="texto-con-linea">
                <div class="linea-vertical">
                  <span>
                    Universidad del Cauca
                  </span>
                </div>
                <span>Reporte de actividades de labor docente</span>
              </div>
            </div>
          </div>

          <div class="mostrar-usuario">
            <div class="card">
              <div class="card-body">
                <table>
                  <th>Periodo</th>
                  <tr *ngFor="let evaluacion of evaluaciones let isFirst = first">
                    
                    <td class = "label-dato" *ngIf="isFirst">{{evaluacion.PER_NOMBRE}}</td>
                  </tr>
                  <tr>
                    <th>Nombre</th>
                    <td class = "label-dato">{{usuario.USU_NOMBRE + " " + usuario.USU_APELLIDO}}</td>
                  </tr>
                  <tr>
                    <th>Identificacion</th>
                    <td class = "label-dato">{{usuario.USR_IDENTIFICACION}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

        <div class="container">
            <div class="card">
                <div class="card-head">
                    <h3>Evaluaciones</h3>
                    
                </div>
                <div class="card-body">
                    <table class="table table-hover" >
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Nombre labor</th>
                                <th>Tipo labor</th>
                                <th>Horas</th>
                                <th>Inicio</th>
                                <th>Fin</th>
                                <th>Estado</th>
                                <th>Resultado</th>
                                <th>Evaluación</th>
                            </tr>
                        </thead>
                        <tbody >
                          <tr *ngFor="let evaluacion of evaluaciones">
                            <td class="primerI">{{ evaluacion.ID }}</td>
                            <td class="segundoI">{{ evaluacion.Nombre }}</td>
                            <td class="tercerI">{{ evaluacion.TipoLabor }}</td>
                            <td class="cuartoI">{{ evaluacion.Horas }}</td>
                            <td class="quintoI">{{ evaluacion.Inicio | date:'dd/MM/yyyy' }}</td>
                            <td class="sextoI">{{ evaluacion.Fin | date:'dd/MM/yyyy' }}</td>
                            <td class="septimoI">{{ estados[evaluacion.Estado] }}</td>
                           
                            <div *ngIf="rol === 5">
                              <td><input class="octavoI"[(ngModel)]="evaluacion.Resultado"type="text" required></td>
                            </div>
                  
                            <div *ngIf="rol === 3 ">
                              <td><input class="octavoI"type="file"  (change)="guardarArchivo($event, evaluacion.ID ) "></td>
                             
                            </div>
                            
                            <div *ngIf=" rol === 4">
                              <td><input class="octavoI"type="file"  (change)="guardarArchivo($event, evaluacion.ID ) "></td>
                            
                            </div>
                            <td><input class="novenoI" [(ngModel)]="evaluacion.Puntaje"type="text" required></td>
                            <button (click)="updateOwnEvaluacion(evaluacion)"class="btn btn-primary">Guardar</button>

                          </tr>
                        </tbody>
              
                     
                          <!-- Otro código HTML ... -->



                    </table>
                </div>
            </div>
        </div>
        <div id="miModal" class="modal" [ngStyle]="{'display': mostrar ? 'block' : 'none'}">
          <div class="modal-contenido">
            <span class="cerrar" (click)="cerrarModal()">&times;</span>
            <h2>Evaluacion Actualizada <i class='bx bx-user'></i></h2>
            <p>La evaluacion se ha podido actualizar con éxito</p>
          </div>
        </div>

	</div> 
	<div id="footer" class="footer-con-imagen">
	  <div class="imagen-con-textoF">
		<div class="texto-con-lineaF">
		  <div class="linea-verticalF">
			<span>
			  © 2023 Universidad del Cauca, Inc.
			</span>
		  </div>
		  <span>Terms Privacy Security</span>
		</div>
	  </div>
	</div>
  </div> 
