
*{
    font-family: Arial, sans-serif;
  }
  
  .nav-item-spaced .nav-link {
    margin-right: 10px; /* Ajusta el valor según sea necesario */
  }
  #cabecera {
    display: flex;
    align-items: center;
    
    background: linear-gradient(to right,#0D4185,#770000);
}
.imagen-con-texto {
    display: flex;
    align-items: center;
  }
  
.icono-izquierda {
  width: 100px; /* Ancho deseado */
  height: auto; /* La altura se ajusta automáticamente */
  margin: 10px;
}
.texto-con-linea {
    display: flex;
    align-items: center;
  }
.texto-con-linea{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 25px; /* Tamaño de fuente deseado */
    color: aliceblue;
    margin-left: 20px;
    
}
.texto-con-linea span{
    padding-left: 15px;
    
}
.linea-vertical {
    border-right: 2px solid rgb(255, 255, 255);
    padding-right: 15px; /* Añade espacio entre la línea y el texto */
    margin-right: 15px; 

}
.texto-con-linea span {
    margin-right: 10px; /* Ajusta el espacio entre el texto y la línea vertical */
}
  
.cabecera-con-imagen {
    padding-left: 10px;
}
/*mostrar usuario*/
.card-body{
  display: flex;
}
.columna-derecha{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.mostrar-usuario .card:first-child {
    margin: 50px;
    max-width: 370px;
}

.columna-izquierda {
    display: flex;
    flex-direction: column;
}
.campos{
    display: flex;
    margin-bottom: 10px;
    margin-top: 12px;
}

.columna-derecha .left-align-input{
    border-radius: 5px ;
    border: 1px solid #686565;
    margin-bottom: 10px;
    margin-top: 10px;
}


/*container*/
h3{
    margin: 20px;
}

.container .card:last-child {
  margin: 0;
}
.container .card-body .primerI{
  width: 25px;
  border-radius: 5px;
  border: 1px solid #686565;
}
.container .card-body .segundoI{
  width: 150px;
  border-radius: 5px;
  border: 1px solid #686565;
}
.container .card-body .tercerI{
  width: 130px;
  border-radius: 5px;
  border: 1px solid #686565;
}

.container .card-body .cuartoI{
  width: 25px;
  border-radius: 5px;
  border: 1px solid #686565;
}
.container .card-body .quintoI{
  width: 100px;
  border-radius: 5px;
  border: 1px solid #686565;
}

.container .card-body .sextoI{
  width: 100px;
  border-radius: 5px;
  border: 1px solid #686565;
}

.container .card-body .sextoI{
  width: 100px;
  border-radius: 5px;
  border: 1px solid #686565;
}
.container .card-body .septimoI{
  width: 100px;
  border-radius: 5px;
  border: 1px solid #686565;
}
.container .card-body .octavoI{
  width: 130px;
  border-radius: 5px;
  border: 1px solid #686565;
}

.container .card-body .novenoI{
  width: 45px;
  border-radius: 5px;
  border: 1px solid #686565;
}

/*Footer*/
#footer {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: 10px;
    background: #0D4185;
    height: 50px;
  }
  .imagen-con-textoF{
    display: flex;
    align-items: center;
  }
  .texto-con-lineaF{
    display: flex;
    align-items: center;
  }
  .texto-con-lineaF{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 14px; /* Tamaño de fuente deseado */
    color: aliceblue;
    margin-left: 20px;
    
  }
  .texto-con-lineaF span{
    padding-left: 15px;
    margin-right: 10px; /* Ajusta el espacio entre el texto y la línea vertical */
    
  }
  .linea-verticalF {
    border-right: 2px solid rgb(255, 255, 255);
    padding-right: 15px; /* Añade espacio entre la línea y el texto */
    margin-right: 15px; 
  
  }
  .footer-con-imagen {
    padding-left: 10px;
  }
  
  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }