<div class="wrapper">  
	<div class="content">   		
		
		<div id="cabecera" class="cabecera-con-imagen">
            <div class="imagen-con-texto">
              <img src="assets/Escudo_Unicauca2.png" alt="Icono" class="icono-izquierda">
              <div class="texto-con-linea">
                <div class="linea-vertical">
                  <span>
                    Universidad del Cauca
                  </span>
                </div>
                <span>Reporte de actividades de labor docente</span>
              </div>
            </div>
          </div>


        <div class="mostrar-usuario">
            <div class="card">
                <div class="card-body">
                    <div class="columna-izquierda">
                        <div class="campos">
                            <label for="Periodo">Periodo</label>
                        </div>
                        <div class="campos">
                            <label for="UserName">Nombre</label>
                        </div>
                        <div class="campos">
                            <label for="USR_IDENTIFICACION">Identificación</label>
                        </div>
                    </div>
                    <div class="columna-derecha">
                        <td> <input type="text" name="UserName" [(ngModel)]="usuario.USU_NOMBRE" class="left-align-input"></td>
                        <td> <input type="text" name="UserName" [(ngModel)]="usuario.USU_NOMBRE" class="left-align-input"></td>
                        <td> <input type="text" name="UserIdentificacion" [(ngModel)]="usuario.USR_IDENTIFICACION" class="left-align-input"></td>
                    
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card">
                <div class="card-head">
                    <h3>Usuarios</h3>
                    
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Nombre labor</th>
                                <th>Tipo labor</th>
                                <th>Horas</th>
                                <th>Fecha inicio</th>
                                <th>Fecha fin</th>
                                <th>Estado</th>
                                <th>Resultado</th>
                                <th>Evaluación</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let evaluacion of evaluaciones" class="text-center">                                
                              <td  class="primerI"> {{evaluacion.ID}}</td>
                              <td class="segundoI"> {{evaluacion.Nombre}}</td>
                              <td class="tercerI"> {{evaluacion.TipoLabor}} </td>
                              <td  class="cuartoI">{{evaluacion.Horas}}</td>
                              <td class="quintoI">{{evaluacion.Inicio | date:'dd/MM/yyyy'}} </td>
                              <td class="sextoI"> {{evaluacion.Fin | date:'dd/MM/yyyy'}}</td>
                              <td> <select [(ngModel)]="evaluacion.Estado"required>
                                <option *ngFor="let key of estadoForm" [ngValue]="key">{{ estados[key] }}</option>                      
                              </select>   </td>                              <td class="octavoI"> {{evaluacion.Resultado}} </td>
                              <td class="novenoI"> {{evaluacion.Puntaje}} </td>

                              </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


	</div> 
	<div id="footer" class="footer-con-imagen">
	  <div class="imagen-con-textoF">
		<div class="texto-con-lineaF">
		  <div class="linea-verticalF">
			<span>
			  © 2023 Universidad del Cauca, Inc.
			</span>
		  </div>
		  <span>Terms Privacy Security</span>
		</div>
	  </div>
	</div>
  </div> 
