<body>
    <main>
      <div class ="main-container">
        <div id="action2">
            <div class="question">
                <h1>Bienvenido</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente suscipit nemo labore?
                </p>
            </div>
            <div  class="login-container" id ="login">
                <form [formGroup]="myForm" (ngSubmit)="submitFormulario()" class = "formulario">
                    <h1 class="tittle-action">LOGIN</h1>
                    <label for="username">
                        <input formControlName="user" type="text" id="Username" placeholder="Username" autocomplete="Username" class="entrada input-with-cursor" required>                        
                    </label>
                    <label for="password">
                        <input formControlName="password" type="password" id="password" placeholder="Password" autocomplete="current-password" class="entrada input-with-cursor" required>

                    </label>
                    <div class="envio">
                        
                        <input (click)="login()" type="submit" value="LOGIN" class="send">
                    </div>
                </form>
            </div>
        </div>
      </div>
    </main>
  </body>
  