<div class="wrapper">  
    <div class="content">          
        <div id="cabecera" class="cabecera-con-imagen">
            <div class="imagen-con-texto">
            <img src="assets/Escudo_Unicauca2.png" alt="Icono" class="icono-izquierda">
            <div class="texto-con-linea">
                    <div class="linea-vertical">
                        <span>
                            Universidad del Cauca
                        </span>
                    </div>
                    <span>Editar labor docente</span>
            </div>
            </div>
        </div>

        <nav class="menu-navegacion">
            <ul>
                <li><a (click)= "IrInicio()">Inicio <i class='bx bx-home' ></i></a></li>
                <li><a (click)= "IrGestionDocente()">Gestión Docente <i class='bx bx-user'></i></a></li>
                <li><a (click)= "IrGestionLabor()">Gestión labor docente <i class='bx bx-book-open'></i></a></li>
                <li><a (click)= "IrEvaluacion()">Evaluación <i class='bx bx-user-check' ></i></a></li>
                <li><a (click)= "IrGestionEvaluacion()">Gestión evaluación <i class='bx bx-plus-circle' ></i></a></li>
            </ul>
        </nav>
        <div class="container">
            <div class="card">
                <div class="card-head">
                    <h3>Labor docente</h3>
                    
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr> 
                                <th>Identificación</th>
                                <th>Tipo labor</th>
                                <th>Nombre</th>
                                <th>Horas</th>
                            
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td> <input type="text" name="LAB_ID" [(ngModel)]="laborDocente.LAB_ID" class="left-align-input"></td>  
                           
                            <select [(ngModel)]="seleccionTipoLab" (change)="seleccionarTipoLabor()">
                              <option value="opt1" [selected]="laborDocente.TL_ID === 1">Docencia</option>
                              <option value="opt2" [selected]="laborDocente.TL_ID === 2">Trabajos Docencia</option>
                              <option value="opt3" [selected]="laborDocente.TL_ID === 3">Proyecto Investigación</option>
                              <option value="opt4" [selected]="laborDocente.TL_ID === 4">Trabajos Investigación</option>
                              <option value="opt5" [selected]="laborDocente.TL_ID === 5">Administración</option>
                              <option value="opt6" [selected]="laborDocente.TL_ID === 6">Asesoría</option>
                              <option value="opt7" [selected]="laborDocente.TL_ID === 7">Servicios</option>
                              <option value="opt8" [selected]="laborDocente.TL_ID === 8">Extensión</option>
                              <option value="opt9" [selected]="laborDocente.TL_ID === 9">Capacitación</option>
                              <option value="opt10" [selected]="laborDocente.TL_ID === 10">Otros Servicios</option>
                            </select>
                            
                            
                            <td> <input type="text" name="LAB_NOMBRE" [(ngModel)]="laborDocente.LAB_NOMBRE" class="left-align-input"></td>
                            <td> <input type="text" name="LAB_HORAS" [(ngModel)]="laborDocente.LAB_HORAS" class="left-align-input"></td>
                            
                                <td>
                                <button class="btn btn-warning" (click)=" updateLabor() ">Guardar</button>
                                
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
           </div>
        </div>

        <div id="miModal" class="modal" [ngStyle]="{'display': mostrar ? 'block' : 'none'}">
            <div class="modal-contenido">
              <span class="cerrar" (click)="cerrarModal()">&times;</span>
              <h2>Labor docente actualizada <i class='bx bx-book-open'></i></h2>
              <p>La labor docente se ha podido actualizar con éxito</p>
            </div>
          </div>
    </div>

    <div id="footer" class="footer-con-imagen">
        <div class="imagen-con-textoF">
            <div class="texto-con-lineaF">
            <div class="linea-verticalF">
                <span>
                © 2023 Universidad del Cauca, Inc.
                </span>
            </div>
            <span>Terms Privacy Security</span>
            </div>
        </div>
    </div>
</div> 
