<div class="container">
    <div class="card">
        <div class="card-head">
            <h3>Usuarios</h3>
            
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre usuario</th>
                        <th>Usuario</th>
                        <th>Contraseña</th>
                        <th>Fecha inicio</th>
                        <th>Fecha fin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios" class="text-center">
                        <td>{{ usuario.USR_IDENTIFICACION}}</td>
                        <td>{{ usuario.USU_NOMBRE }}</td>
                        <td>{{ usuario.USU_APELLIDO }}</td>
                        <td>{{ usuario.USU_GENERO }}</td>
                        <td>{{ usuario.USU_ESTUDIO }}</td>
                        <td>
                            <button [routerLink]="['/editar',usuario.USR_IDENTIFICACION]" class="btn btn-warning">Editar</button>
                            <button class="btn btn-warning" (click)="deleteUsuario(usuario.USR_IDENTIFICACION)" style="margin-left: 10px;">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
