
<div id="cabecera" class="cabecera-con-imagen">
	<div class="imagen-con-texto">
	  <img src="assets/Escudo_Unicauca2.png" alt="Icono" class="icono-izquierda">
	  <div class="texto-con-linea">
			<div class="linea-vertical">
				<span>
					Universidad del Cauca
				</span>
			</div>
			<span>Agregar labor docente</span>
	  </div>
	</div>
  </div>

<nav class="menu-navegacion">
</nav>

<div class="container">
    <div class="card">
        <div class="card-head">
            <h3>Evaluacion</h3>           
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Inicio</th>
                        <th>Fin</th>                 
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td><input type="text" [(ngModel)] = "periodo.PER_NOMBRE"></td>                  
                    </tr>
                      
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="footer" class="footer-con-imagen">
	<div class="imagen-con-textoF">
	  <img src="assets/Escudo_Unicauca2.png" alt="Icono" class="icono-izquierdaF">
	  <div class="texto-con-lineaF">
			<div class="linea-verticalF">
				<span>
					© 2023 Universidad del Cauca, Inc.
				</span>
			</div>
			<span>Terms Privacy Security</span>
	  </div>
	</div>
</div>

